#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp N7    &kp N8    &kp N9     // Reihe 0 (Oben)
                &kp N4    &kp N5    &kp N6     // Reihe 1 (Mitte)
                &kp N1    &kp N2    &kp N3     // Reihe 2 (Unten)
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>; // Lautstärke am Drehrad
        };
    };
};